# vivado
**/.metadata/**
**/_ide/**
**/ip/**
**/.jobs/**
**/impl_1/**
**/synth_1/**
**/bd/**
**/wt/**
**/bd/**
/**/hw/**/*ds*/**
/**/hw/**/*pc*/**
/**/hw/**/*runs*/**
/**/hw/**/*sim*/**
/**/hw/**/*wrapper*/**
/**/hw/**/*system*/**
/**/hw/**/*ip*/**
/**/hw/**/*hw*/**

/**/hw/**/*.sh
/**/hw/**/*.rpt
/**/hw/**/*.rst
/**/hw/**/*.log
/**/hw/**/*.jou
/**/hw/**/*.pb
/**/hw/**/*.vds
/**/hw/**/*.dcp
/**/hw/**/*.prj
/**/hw/**/*.ld
/**/hw/**/*.c
/**/hw/**/*.h
/**/hw/**/*.spec
/**/hw/**/*.cproject
/**/hw/**/*.project
/**/hw/**/*.sprj
/**/hw/**/*.js
/**/hw/**/*.xpr
/**/hw/**/*.xsa
/**/hw/**/*.analytics


#petalinux
TR-1/sw/vitis


